/// Emoji are ideograms and smileys used in electronic messages and web pages. Emoji exist in various genres.
/// @name em.oji
/// @group effects
/// @since 2.0.0
/*
Effects

Small visual effects that enhance content without JavaScript.

Styleguide 5
*/

/*
Emoji effects

Emoji can be normalized with flat, grayscale, gray, or black rendering.

.flat - Increase contrast and flatten the colors.
.grayscale - Remove all color.
.gray - Render a gray silhouette.
.black - Render a black silhouette.

Markup:
<em class="oji {{ modifier_class }}" aria-hidden="true">📥</em>

Styleguide 5.1
*/
/* stylelint-disable selector-no-qualifying-type */
em.oji {
  font-style: normal;

  &.black {
    color: transparent;
    text-shadow: 0 0 hsl(205deg 100% 2%);
  }

  &.gray {
    color: transparent;
    text-shadow: 0 0 hsl(208deg 9% 42%);
  }

  &.grayscale {
    filter: grayscale(1);
  }

  &.flat {
    filter: contrast(130%) brightness(130%) saturate(130%) grayscale(0.5);
  }
}
/* stylelint-enable */
