=kao-moji
  @each $kaomoji in $kaomojis
    $kao-icon: nth($kaomoji, 1)
    $kao-unicode: nth($kaomoji, 2)
    &.#{$kao-icon}::before
      content: $kao-unicode

/// Kaomoji (顔文字) is a popular Japanese emoticon style made up of Japanese characters and grammar punctuations, and are used to express emotion in texting and cyber communication.
/// @name em.kaomoji
/// @group effects
/// @since 1.0.0
/// @link https://github.com/CryptoHub-place/coco/wiki/effects-kaomoji
em.kaomoji
  font-style: normal
  font-size: $kaomoji-dimensions
  &.is-small
    font-size: $emoji-dimensions-small
  &.is-medium
    font-size: $emoji-dimensions-medium
  &.is-large
    font-size: $emoji-dimensions-large
  +kao-moji
