# Files
.DS_Store
.ruby-version
test.sass
test.css
test.css.map
npm-debug.log
*.tar.gz
*.zip
package-lock.json
yarn.lock
yarn-error.log

# Folders
.idea/
.sass-cache
_gh_pages
_site
node_modules
test/output/
coco/
