@use "sass:meta"
@import "initial-variables"
@import "derived-variables"

:root
  --color-black: #{$black}
  --color-black-bis: #{$black-bis}
  --color-black-ter: #{$black-ter}
  --color-grey-darkest: #{$grey-darkest}
  --color-grey-darker: #{$grey-darker}
  --color-grey-dark: #{$grey-dark}
  --color-grey: #{$grey}
  --color-grey-light: #{$grey-light}
  --color-grey-lighter: #{$grey-lighter}
  --color-grey-lightest: #{$grey-lightest}
  --color-white: #{$white}
  --color-white-bis: #{$white-bis}
  --color-white-ter: #{$white-ter}
  --color-orange: #{$orange}
  --color-yellow: #{$yellow}
  --color-green: #{$green}
  --color-green-core: #{$green-core}
  --color-turquoise: #{$turquoise}
  --color-cyan: #{$cyan}
  --color-blue: #{$blue}
  --color-purple: #{$purple}
  --color-red: #{$red}
  --family-sans-serif: #{meta.inspect($family-sans-serif)}
  --family-monospace: #{meta.inspect($family-monospace)}
  --size-1: #{$size-1}
  --size-2: #{$size-2}
  --size-3: #{$size-3}
  --size-4: #{$size-4}
  --size-5: #{$size-5}
  --size-6: #{$size-6}
  --size-7: #{$size-7}
  --weight-light: #{$weight-light}
  --weight-normal: #{$weight-normal}
  --weight-medium: #{$weight-medium}
  --weight-semibold: #{$weight-semibold}
  --weight-bold: #{$weight-bold}
  --rtl: #{$rtl}
  // Extended
  --primary: #{$primary}
  --info: #{$info}
  --success: #{$success}
  --warning: #{$warning}
  --danger: #{$danger}
  --light: #{$light}
  --dark: #{$dark}
  --orange-invert: #{$orange-invert}
  --yellow-invert: #{$yellow-invert}
  --green-invert: #{$green-invert}
  --turquoise-invert: #{$turquoise-invert}
  --cyan-invert: #{$cyan-invert}
  --blue-invert: #{$blue-invert}
  --purple-invert: #{$purple-invert}
  --red-invert: #{$red-invert}
  --primary-invert: #{$primary-invert}
  --primary-light: #{$primary-light}
  --primary-dark: #{$primary-dark}
  --primary-highlight: #{$primary-highlight}
  --info-invert: #{$info-invert}
  --info-light: #{$info-light}
  --info-dark: #{$info-dark}
  --success-invert: #{$success-invert}
  --success-light: #{$success-light}
  --success-dark: #{$success-dark}
  --warning-invert: #{$warning-invert}
  --warning-light: #{$warning-light}
  --warning-dark: #{$warning-dark}
  --danger-invert: #{$danger-invert}
  --danger-light: #{$danger-light}
  --danger-dark: #{$danger-dark}
  --light-invert: #{$light-invert}
  --dark-invert: #{$dark-invert}
  --scheme-main: #{$scheme-main}
  --scheme-main-bis: #{$scheme-main-bis}
  --scheme-main-ter: #{$scheme-main-ter}
  --scheme-invert: #{$scheme-invert}
  --scheme-invert-bis: #{$scheme-invert-bis}
  --scheme-invert-ter: #{$scheme-invert-ter}
  --background: #{$background}
  --border: #{$border}
  --border-hover: #{$border-hover}
  --border-light: #{$border-light}
  --border-light-hover: #{$border-light-hover}
  --text: #{$text}
  --text-invert: #{$text-invert}
  --text-light: #{$text-light}
  --text-strong: #{$text-strong}
  --code: #{$code}
  --code-background: #{$code-background}
  --pre: #{$pre}
  --pre-background: #{$pre-background}
  --link: #{$link}
  --link-invert: #{$link-invert}
  --link-light: #{$link-light}
  --link-dark: #{$link-dark}
  --link-visited: #{$link-visited}
  --link-hover: #{$link-hover}
  --link-hover-border: #{$link-hover-border}
  --link-focus: #{$link-focus}
  --link-focus-border: #{$link-focus-border}
  --link-active: #{$link-active}
  --link-active-border: #{$link-active-border}
  --family-primary: #{$family-primary}
  --family-secondary: #{$family-secondary}
  --family-code: #{$family-code}
  --size-small: #{$size-small}
  --size-normal: #{$size-normal}
  --size-medium: #{$size-medium}
  --size-large: #{$size-large}
  --shadow: #{$shadow}

[data-theme="dark"]
  --color-black: #{$white}
  --color-black-bis: #{$white-bis}
  --color-black-ter: #{$white-ter}
  --color-grey-darkest: #{$grey-lightest}
  --color-grey-darker: #{$grey-lighter}
  --color-grey-dark: #{$grey-light}
  --color-grey: #{$grey}
  --color-grey-light: #{$grey-dark}
  --color-grey-lighter: #{$grey-darker}
  --color-grey-lightest: #{$grey-darkest}
  --color-white: #{$black}
  --color-white-bis: #{$black-bis}
  --color-white-ter: #{$black-ter}
