@import "initial-variables";
@import "functions";

$primary: $green-core !default;

$info: $cyan !default;
$success: $green !default;
$warning: $yellow !default;
$danger: $red !default;

$light: $white-ter !default;
$dark: $grey-darker !default;

// Invert colors using SCSS functions
$orange-invert: invert($orange) !default;
$yellow-invert: invert($yellow) !default;
$green-invert: invert($green) !default;
$turquoise-invert: invert($turquoise) !default;
$cyan-invert: invert($cyan) !default;
$blue-invert: invert($blue) !default;
$purple-invert: invert($purple) !default;
$red-invert: invert($red) !default;

$primary-invert: invert($primary) !default;
$primary-light: lighten($primary, 20%) !default;
$primary-dark: darken($primary, 20%) !default;
$primary-highlight: lighten(saturate($primary, 20%), 20%) !default;

$info-invert: invert($info) !default;
$info-light: lighten($info, 20%) !default;
$info-dark: darken($info, 20%) !default;

$success-invert: invert($success) !default;
$success-light: lighten($success, 20%) !default;
$success-dark: darken($success, 20%) !default;

$warning-invert: invert($warning) !default;
$warning-light: lighten($warning, 20%) !default;
$warning-dark: darken($warning, 20%) !default;

$danger-invert: invert($danger) !default;
$danger-light: lighten($danger, 20%) !default;
$danger-dark: darken($danger, 20%) !default;

$light-invert: invert($light) !default;
$dark-invert: invert($dark) !default;

// General colors
$scheme-main: var(--coco-color-white) !default;
$scheme-main-bis: var(--coco-color-white-bis) !default;
$scheme-main-ter: var(--coco-color-white-ter) !default;
$scheme-invert: var(--coco-color-black) !default;
$scheme-invert-bis: var(--coco-color-black-bis) !default;
$scheme-invert-ter: var(--coco-color-black-ter) !default;

$background: $white-ter !default;

$border: var(--coco-color-grey-lighter) !default;
$border-hover: var(--coco-color-grey-light) !default;
$border-light: var(--coco-color-grey-lightest) !default;
$border-light-hover: var(--coco-color-grey-light) !default;

// Text colors
$text: var(--coco-color-grey-dark) !default;
$text-invert: invert($text) !default;
$text-light: var(--coco-color-grey) !default;
$text-strong: var(--coco-color-grey-darker) !default;

// Code colors
$code: darken($red, 15%) !default;
$code-background: var(--coco-color-background) !default;

$pre: $text !default;
$pre-background: var(--coco-color-background) !default;

// Link colors
$link: $primary !default;
$link-invert: invert($link) !default;
$link-light: lighten($link, 20%) !default;
$link-dark: darken($link, 20%) !default;
$link-visited: $purple !default;

$link-hover: $grey-darker !default;
$link-hover-border: $grey-light !default;

$link-focus: $grey-darker !default;
$link-focus-border: $blue !default;

$link-active: $grey-darker !default;
$link-active-border: $grey-dark !default;

// Typography
$family-primary: $family-sans-serif !default;
$family-secondary: $family-sans-serif !default;
$family-code: $family-monospace !default;

$size-small: $size-7 !default;
$size-normal: $size-6 !default;
$size-medium: $size-5 !default;
$size-large: $size-4 !default;

// Effects
$shadow: 0 0.5em 1em -0.125em rgba($scheme-invert, 0.1), 0 0px 0 1px rgba($scheme-invert, 0.02) !default;

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

$colors: mergeColorMaps(
	("white": ($white, $black),
	 "black": ($black, $white),
	 "light": ($light, $light-invert),
	 "dark": ($dark, $dark-invert),
	 "primary": ($primary, $primary-invert, $primary-light, $primary-dark),
	 "link": ($link, $link-invert, $link-light, $link-dark),
	 "info": ($info, $info-invert, $info-light, $info-dark),
	 "success": ($success, $success-invert, $success-light, $success-dark),
	 "warning": ($warning, $warning-invert, $warning-light, $warning-dark),
	 "danger": ($danger, $danger-invert, $danger-light, $danger-dark)),
	$custom-colors) !default;

$shades: mergeColorMaps(
	("black-bis": $black-bis,
	 "black-ter": $black-ter,
	 "grey-darker": $grey-darker,
	 "grey-dark": $grey-dark,
	 "grey": $grey,
	 "grey-light": $grey-light,
	 "grey-lighter": $grey-lighter,
	 "white-ter": $white-ter,
	 "white-bis": $white-bis),
	$custom-shades) !default;

$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7 !default;
