extends ../layout.pug

block variables
  -var title = 'Media';
  -var page = 'media';

block content
  div(style='aspect-ratio: 16 / 9;')
    iframe(width='560' height='315' src='https://www.youtube.com/embed/-6Xl9tBWt54' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
  img(src='https://images.unsplash.com/photo-1493246507139-91e8fad9978e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3&auto=format&fit=crop&w=1650&q=80' alt='Moutain')
  figure(class='figure')
    img(src='https://images.unsplash.com/photo-1493246507139-91e8fad9978e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3&auto=format&fit=crop&w=1650&q=80' alt='Mountain')
    figcaption(class='figure-caption') A caption for the above image.
  div(style='aspect-ratio: 4 / 3;')
    iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d43426.31519120588!2d8.484520028382804!3d47.13543111433025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2scz!4v1729697888586!5m2!1sen!2scz' width='600' height='450' style='border:0;' allowfullscreen loading='lazy')
