/// 1977 effect. As the name suggests, this filter gives you a nostalgic 70’s feel by making photos brighter as well as faded.
/// @name .filter.seventyseven
/// @group filters
/// @since 2.0.0
.filter {
  &.seventyseven {
    filter: contrast(110%) brightness(110%) saturate(130%);
    position: relative;

    &::before {
      background: rgb(243 106 188 / 0.3);
      content: '';
      display: block;
      inset: 0;
      mix-blend-mode: screen;
      pointer-events: none;
      position: absolute;
    }
  }
}
