/// Aden is famous for its retro, pastel-y look, which works great if you need to soften harsh lights.
/// @name .filter.aden
/// @group filters
/// @since 2.0.0
.filter {
  &.aden {
    filter: contrast(90%) brightness(120%) saturate(85%) hue-rotate(20deg);
    filter: contrast(90%) brightness(120%) saturate(85%) hue-rotate(20deg);
    position: relative;

    &::before {
      background: linear-gradient(to right, rgb(66 10 14 / 0.2), rgb(66 10 14 / 0));
      background: linear-gradient(to right, rgb(66 10 14 / 0.2), rgb(66 10 14 / 0));
      content: '';
      display: block;
      height: 100%;
      left: 0;
      mix-blend-mode: darken;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
