/// Brannan adds high contrast and exposure to your photo, giving it some stylish metallic tint. This photo effect is soft and washed out, like a photo from old granny’s album.
/// @name .filter.brannan
/// @group filters
/// @since 2.0.0
.filter {
  &.brannan {
    filter: contrast(140%) sepia(50%);
    filter: contrast(140%) sepia(50%);
    position: relative;

    &::before {
      background: rgb(161 44 199 / 0.31);
      content: '';
      display: block;
      height: 100%;
      left: 0;
      mix-blend-mode: lighten;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
