/// Clarendon filter will brighten the highlights found in your photos, while also making the shadows a bit bolder.
/// @name .filter.clarendon
/// @group filters
/// @since 2.0.0
.filter {
  &.clarendon {
    filter: contrast(120%) saturate(125%);
    filter: contrast(120%) saturate(125%);
    position: relative;

    &::before {
      background: rgb(127 187 227 / 0.2);
      content: '';
      display: block;
      height: 100%;
      left: 0;
      mix-blend-mode: overlay;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
