/// Earlybird to get a retro “Polaroid” feel with soft faded colors and a hint of yellow.
/// @name .filter.earlybird
/// @group filters
/// @since 2.0.0
.filter {
  &.earlybird {
    filter: contrast(90%) sepia(20%);
    filter: contrast(90%) sepia(20%);
    position: relative;

    &::before {
      background: radial-gradient(circle closest-corner, rgb(208 186 142 / 1), rgb(29 2 16 / 0.2));
      background: radial-gradient(circle closest-corner, rgb(208 186 142 / 1), rgb(29 2 16 / 0.2));
      content: '';
      display: block;
      height: 100%;
      left: 0;
      mix-blend-mode: overlay;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
