/// Hudson emphasizes light in your image and gives your photos a bluish, colder feel.
/// @name .filter.hudson
/// @group filters
/// @since 2.0.0
.filter {
  &.hudson {
    filter: contrast(90%) brightness(120%) saturate(110%);
    filter: contrast(90%) brightness(120%) saturate(110%);
    position: relative;

    &::before {
      background: radial-gradient(circle closest-corner, rgb(255 177 166 / 1), rgb(52 33 52 / 1));
      background: radial-gradient(circle closest-corner, rgb(255 177 166 / 1), rgb(52 33 52 / 1));
      content: '';
      display: block;
      height: 100%;
      left: 0;
      mix-blend-mode: darken;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
