$max-column-count: 16;

.grid {
	--coco-grid-gap: 1.5rem;
	--coco-column-count: 12;
	--coco-grid-gap-count: calc(var(--coco-column-count) - 1);
	--coco-grid-column-min: calc(calc(100% / var(--coco-column-count)) - calc(var(--coco-grid-gap-count) / var(--coco-column-count) * var(--coco-grid-column-gap, var(--coco-grid-gap))));
	--coco-cell-column-span: 1;
	--coco-cell-row-span: 1;
	display: grid;
	grid-gap: var(--coco-grid-gap);
	grid-column-gap: var(--coco-grid-column-gap, var(--coco-grid-gap));
	grid-row-gap: var(--coco-grid-row-gap, var(--coco-grid-gap));
	grid-template-columns: repeat(auto-fit, minmax(var(--coco-grid-column-min), 1fr));
	grid-template-rows: auto;

	@include mobile {
		--coco-column-count: 2;
	}

	@include tablet {
		--coco-column-count: 4;
	}

	@include desktop {
		--coco-column-count: 8;
	}

	@include widescreen {
		--coco-column-count: 12;
	}

	@include fullhd {
		--coco-column-count: 16;
	}
}

@mixin cell-properties($suffix: '') {
	@for $i from 1 through $max-column-count {
		$name: $i + $suffix;

		&.is-col-start-#{$name} {
			--coco-cell-column-start: #{$i};
		}

		&.is-col-from-end-#{$name} {
			--coco-cell-column-start: #{$i * -1};
		}

		&.is-col-span-#{$name} {
			--coco-cell-column-span: #{$i};
		}

		&.is-row-start-#{$name} {
			--coco-cell-row-start: #{$i};
		}

		&.is-row-from-end-#{$name} {
			--coco-cell-row-start: #{$i * -1};
		}

		&.is-row-span-#{$name} {
			--coco-cell-row-span: #{$i};
		}
	}
}

.cell {
	background-color: lavender;
	border-radius: 1em;
	grid-column-end: span var(--coco-cell-column-span);
	grid-column-start: var(--coco-cell-column-start);
	grid-row-end: span var(--coco-cell-row-span);
	grid-row-start: var(--coco-cell-row-start);
	padding: 0.75em;

	// Sizes
	&.is-col-start-end {
		--coco-cell-column-start: -1;
	}

	&.is-row-start-end {
		--coco-cell-row-start: -1;
	}

	@include cell-properties;
	
	@include mobile {
		@include cell-properties('-mobile');
	}

	@include tablet {
		@include cell-properties('-tablet');
	}

	@include tablet-only {
		@include cell-properties('-tablet-only');
	}

	@include desktop {
		@include cell-properties('-desktop');
	}

	@include desktop-only {
		@include cell-properties('-desktop-only');
	}

	@include widescreen {
		@include cell-properties('-widescreen');
	}

	@include widescreen-only {
		@include cell-properties('-widescreen-only');
	}

	@include fullhd {
		@include cell-properties('-fullhd');
	}
}

@mixin grid-properties($suffix: '') {
	.has-1-cols#{$suffix} {
		--coco-column-count: 1;
	}

	@for $i from 2 through $max-column-count {
		.has-#{$i}-cols#{$suffix} {
			--coco-column-count: #{$i};
		}
	}
}

@include grid-properties;

@include mobile {
	@include grid-properties('-mobile');
}

@include tablet {
	@include grid-properties('-tablet');
}

@include tablet-only {
	@include grid-properties('-tablet-only');
}

@include desktop {
	@include grid-properties('-desktop');
}

@include desktop-only {
	@include grid-properties('-desktop-only');
}

@include widescreen {
	@include grid-properties('-widescreen');
}

@include widescreen-only {
	@include grid-properties('-widescreen-only');
}

@include fullhd {
	@include grid-properties('-fullhd');
}
