/// Theme switch - Theme switcher without javascript.
/// @name label[for=coco-theme-switch]
/// @group effects
/// @since 2.1.0
/// @link https://github.com/cryptohub-digital/coco/wiki/components-coco-theme-switch
label[for=coco-theme-switch] {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;

	&:hover {
		border-radius: 50%;
		background-color: var(--coco-color-grey);
		transform: rotate(0.1deg);
		transition: transform 0.25s cubic-bezier(0.5, 400, 0.5, -400);

		.sun,
		.moon {
			padding: 0.5em;
		}
	}
}

input#coco-theme-switch[type=checkbox] {
	display: none;

	&:not(:checked) {
		& ~ header > nav > .navbar-menu > div > div > label[for=coco-theme-switch] {
			& > .sun {
				&::before {
					content: var(--coco-theme-sun);
				}
			}

			& > .moon {
				&::before {
					content: var(--coco-theme-moon);
				}
			}
		}
	}

	&:checked {
		& ~ header > nav > .navbar-menu > div > div > label[for=coco-theme-switch] {
			& > .sun {
				&::before {
					content: var(--coco-theme-moon);
				}
			}

			& > .moon {
				&::before {
					content: var(--coco-theme-sun);
				}
			}
		}
	}
}

@media (prefers-color-scheme: dark) {
	input#coco-theme-switch[type=checkbox] {
		&:not(:checked) {
			& ~ header > nav > .navbar-menu > div > div > label[for=coco-theme-switch] {
				& > .sun {
					&::before {
						content: var(--coco-theme-moon);
					}
				}

				& > .moon {
					&::before {
						content: var(--coco-theme-sun);
					}
				}
			}
		}

		&:checked {
			& ~ header > nav > .navbar-menu > div > div > label[for=coco-theme-switch] {
				& > .sun {
					&::before {
						content: var(--coco-theme-sun);
					}
				}

				& > .moon {
					&::before {
						content: var(--coco-theme-moon);
					}
				}
			}
		}
	}
}

\:root[data-theme=dark] {
	input#coco-theme-switch[type=checkbox] {
		&:not(:checked) {
			& ~ header > nav > .navbar-menu > div > div > label[for=coco-theme-switch] {
				& > .sun {
					&::before {
						content: var(--coco-theme-moon);
					}
				}

				& > .moon {
					&::before {
						content: var(--coco-theme-sun);
					}
				}
			}
		}

		&:checked {
			& ~ header > nav > .navbar-menu > div > div > label[for=coco-theme-switch] {
				& > .sun {
					&::before {
						content: var(--coco-theme-sun);
					}
				}

				& > .moon {
					&::before {
						content: var(--coco-theme-moon);
					}
				}
			}
		}
	}
}
